body {
    background: #eeefed;
}

a {
    text-decoration: none;
}

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    padding-top: 25px;
}

h1 {
    position: relative;
    text-align: center;
    color: #353535;
    font-size: 50px;
    font-family: "Calibri", sans-serif;
}

p {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    text-align: center;
    font-size: 18px;
    color: #676767;
    margin-bottom: 40px;
}

.custom-btn {
    width: 130px;
    height: 40px;
    color: #000;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: 'Lato'sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: block;
    margin: 0 auto 20px; /* Center and add margin to stack vertically */
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
        7px 7px 20px 0px rgba(0, 0, 0, .1),
        4px 4px 5px 0px rgba(0, 0, 0, .1);
    outline: none;
    
}

/* 1 */
.btn-1 {

    background:  rgb(243, 246, 244);
    border-color: red;
    border-width: 2.5px; 
    
}

.btn-1:hover {

    background-color: rgb(236, 36, 36);
    transition: 2s;
    
}

.btn-2 {
   
    background-color: aqua;
    border-color: rgb(246, 111, 196); 
    border-width: 3px;
    
}

.btn-2:hover {
    color: rgb(246, 111, 196);
    transition: 2s; 
    letter-spacing: 0.35em;
}
    

.btn-3 {
    background-color: rgb(7, 233, 49);
    border-top-color: rgb(7, 2, 0);
    border-top-width: 5px;
    padding: 12px;
    border-color: chartreuse;
    border-width: 3px;

}

.btn-3:hover {
    color: pink;
    transition: 2s;
    letter-spacing: 0.65em;
    box-shadow:rgb(206, 8, 133);
    
}
/* Add your custom styles for btn-1, btn-2, and btn-3 */